# This set of variables are used to create and configure the workspace we are creating.  

token                       = ""  <-- TFC API token  
organization                = ""  <-- TFC organization 
workspace_name              = ""  <-- Name of the workspace you want to create
vcs_repo                    = ""  <-- Format follows <organization>/<repository>
oauth_token_id              = ""  <-- Oauth token id from TFC organization VCS integration 


# The following variables will be created in the workspace we are creating.

tfe_vars_sensitive = {
    AWS_ACCESS_KEY_ID           = ""  <-- AWS Access key
    AWS_SECRET_ACCESS_KEY       = ""  <-- AWS Secret Key
    AWS_SESSION_TOKEN           = ""  <-- AWS Session token if you use them   
}

env_vars_sensitive  = {
}

tfe_vars_nonsensitive = {
}

env_vars_nonsensitive  = {
}
